<!DOCTYPE html>
<html>
 <body>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                {% for l in labels %}
                    <th>
                        {{l}}
                    </th>
                {% endfor %}
            </tr>
            <tr>
                {% for d in dates %}
                    <th>
                        {{ d }}
                    </th>
                {% endfor %}
                <td rowspan="2"> {{ form.submit() }} </td>
            </tr>
            <tr>
                {% for d in form.days_list %}
                    <td>
                        {{ d(size=8) }}
                    </td>
                {% endfor %}
            </tr>
        </table>
    </form>
    {% for error in  form.form_wide_error.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
 </body>
</html>